header {
  background: #99f6e4;
  height: 50px;
  font-family: Calibri, serif;
  display: flex;
  margin-bottom: 50px;

  ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    margin: 0;

    li {
      font-size: 17px;

      a {
        text-decoration: none;
        color: black !important;
      }

    }
  }
}
