<form [formGroup]="addTodoForm" (ngSubmit)="submit()">
  <input type="hidden" formControlName="id">
  <div>
    <label for="name" class="label">Name</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div>
    <label for="completed" class="label">Completed</label>
    <select type="text" id="completed" formControlName="completed">
      <option value="true">Completed</option>
      <option value="false">In progress</option>
    </select>
  </div>
  <div>
    <label for="name" class="label">User Id</label>
    <input type="number" id="userId" formControlName="userId">
  </div>
  <button class="btn-primary">{{ buttonText() }}</button>
</form>
